<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2025-06-12T04:23:50Z</date>
	<key>WorkspacePath</key>
	<string>/Users/chibahino/Swift学習/StudyRecord/StudyRecord.xcodeproj</string>
</dict>
</plist>
