name: UI Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ui-tests:
    runs-on: macos-14

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Xcode
        run: sudo xcode-select -s /Applications/Xcode_15.2.app

      - name: Build for testing
        run: |
          xcodebuild \
            -scheme "StudyRecord" \
            -destination 'platform=iOS Simulator,name=iPhone 15,OS=17.2' \
            -enableCodeCoverage YES \
            build-for-testing

      - name: Run UI Tests
        run: |
          xcodebuild \
            test-without-building \
            -scheme "StudyRecord" \
            -destination 'platform=iOS Simulator,name=iPhone 15,OS=17.2'


